In [1]:
#dependencies
import os
import pandas as pd
import requests
from bs4 import BeautifulSoup
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import time

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [C:\Users\liamb\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [3]:
#init dict to store title, body_text... will use it for img, facts.
mars = {}

In [4]:
#collect the latest News Title and Paragraph Text. 
#Assign the text to variables that you can reference later.
url = 'https://mars.nasa.gov/news'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#content_title, article_teaser_body elements after Inspect 

results = soup.find_all('div', class_ = 'content_title')
results2 = soup.find('div', class_ = 'article_teaser_body')

news_title = results[1].text.strip()
news_p = results2.text.strip()

print(f'"{news_title}": {news_p}')

mars["news_title"] = news_title
mars["news_p"] = news_p
print(mars)

"NASA's Perseverance Mars Rover Mission Honors Navajo Language": Working with the Navajo Nation, the rover team has named features on Mars with words from the Navajo language.
{'news_title': "NASA's Perseverance Mars Rover Mission Honors Navajo Language", 'news_p': 'Working with the Navajo Nation, the rover team has named features on Mars with words from the Navajo language.'}

In [5]:
jet_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(jet_url)
time.sleep(.5)
browser.find_link_by_partial_text('FULL IMAGE').click()

C:\Users\liamb\anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:490: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  warnings.warn(

In [7]:
html = browser.html
jet_soup = BeautifulSoup(html, 'html.parser')
type(jet_soup)
jpl_image = jet_soup.find('img', class_='headerimage fade-in')

print('https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/')
print(jpl_image)
print('-----------')
jpl_image["src"]

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/
<img class="headerimage fade-in" src="image/featured/mars3.jpg"/>
-----------

'image/featured/mars3.jpg'

In [9]:
featured_image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/'+ jpl_image["src"]
mars["featured_image_url"] = featured_image_url
print(mars)

{'news_title': "NASA's Perseverance Mars Rover Mission Honors Navajo Language", 'news_p': 'Working with the Navajo Nation, the rover team has named features on Mars with words from the Navajo language.', 'featured_image_url': 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg'}

In [10]:
facts_url = 'https://space-facts.com/mars'
browser.visit(facts_url)

#use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
facts = pd.read_html(facts_url)
facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [18]:
#Use Pandas to convert the data to a HTML table string.
df = facts[0]
df

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [22]:
df.reset_index()
df = df.rename(columns={0:'Stat',1:'Mars'})
df
#cant figure how to rename this column.

                                               Mars
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [23]:
table_html = df.to_html()

print(table_html)

mars['table_html'] = table_html

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
    </tr>
    <tr>
      <th>0</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [24]:
print(mars)

{'news_title': "NASA's Perseverance Mars Rover Mission Honors Navajo Language", 'news_p': 'Working with the Navajo Nation, the rover team has named features on Mars with words from the Navajo language.', 'featured_image_url': 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg', 'table_html': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>0</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'}